# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
/Default

#Executives
*.exe
Continent
Testuj

#build directories
/build

#user files
*.user

# Archives
*.7z
